.projects {
  width: 100%;
//   min-height: 100vh;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 80px;
  font-family: "Poppins", sans-serif;

  .title {
    width: 100%;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;

    h2 {
      background: linear-gradient(to left, #17c0e9, #c96ddd, #f45162);
      color: #ffffff;
      font-size: 40px;
      font-weight: 700;
      line-height: 1.2em;
      letter-spacing: 1.4px;

      @media screen and (max-width: 640px) {
        text-align: center;
      }
    }
  }

  section {
    width: 100%;
    max-width: 1200px;
    min-height: 500px;
    display: grid;
    grid-template-columns: 300px 1fr;
    column-gap: 20px;

    .list {
      .listItem {
        border-radius: 5px;
        border: none;
        background: transparent;
        color: #000;
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        padding: 12px 18px 10px;
        text-align: left;
        cursor: pointer;
        margin-bottom: 8px;

        &:hover {
          background: linear-gradient(90deg, #12c2e9 0%, #c471ed 50%, #f64f59 100%);
          color: white;
        }

        &.active {
          background: linear-gradient(90deg, #12c2e9 0%, #c471ed 50%, #f64f59 100%);
          color: white;
        }
      }
    }
    .view {
      width: 100%;
      background-color: rgb(247, 247, 247);
      padding: 20px;
      min-height: 500px;
      border-radius: 15px;
      display: flex;
      flex-direction: column;

      .content p {
        text-align: justify;
      }
      .preview {
        display: flex;

        video {
            border-radius: 5px;
        }

        ul {
          margin: 0;

          li {
            margin-bottom: 10px;
          }
        }
      }

      .projectLinks {
        button {
          padding: 10px;
          font-family: "Poppins", sans-serif;
          font-weight: 600;
          font-size: 14px;
          background: transparent;
          margin: 10px;
          border: 1px solid #12c2e9;
          color: #12c2e9;
          cursor: pointer;
          transition: 0.5s;

          &:hover {
            transition: 0.5s;
            border: 1px solid #f64f59;
            color: #f64f59;
          }
        }
      }
    }
  }
}
