.projects {
  width: 100%;
  //   min-height: 100vh;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 80px;

  .title {
    width: 100%;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Poppins", sans-serif;

    h2 {
      background: linear-gradient(to left, #17c0e9, #c96ddd, #f45162);
      color: #ffffff;
      font-size: 48px;
      font-weight: 700;
      line-height: 1.2em;
      letter-spacing: 1.4px;

      @media screen and (max-width: 640px) {
        text-align: center;
        font-size: 32px;
        padding: 20px 0;
      }
    }
  }

  section {
    width: 100%;
    max-width: 1200px;
    min-height: 500px;
    display: flex;

    .list {
      width: 200px;
      margin-right: 20px;
      .listItem {
        border-radius: 5px;
        border: none;
        background: transparent;
        color: #000;
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        padding: 12px 18px 10px;
        text-align: left;
        cursor: pointer;
        margin-bottom: 8px;
        &.darkListItem {
          color: #fff;
          background-color: #000000;
        }

        &:hover {
          background: linear-gradient(90deg, #12c2e9 0%, #c471ed 50%, #f64f59 100%);
          color: white;
        }

        &.active {
          background: linear-gradient(90deg, #12c2e9 0%, #c471ed 50%, #f64f59 100%);
          color: white;
        }
      }
    }
    .mobileList {
      width: 90vw;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 0 auto;
      background-color: rgb(247, 247, 247);
      padding: 20px;

      .mobileListItem {
        width: 100%;
        border-bottom: 2px solid #1761e9;
        h3 {
          text-align: start;
          margin: 10px 0;
        }
        p {
          font-size: 14px;
        }

        .mobileListItemTitle {
          display: flex;
          align-items: center;
          cursor: pointer;

          &:hover {
            color: #f45162;
          }

          img {
            margin-right: 10px;
          }
        }
        .mobilePreview {
          .mobileProjectLinks {
            margin: 10px 0;
            display: flex;
            align-items: center;
            button {
              padding: 5px;
              font-family: "Poppins", sans-serif;
              font-weight: 600;
              font-size: 12px;
              background: transparent;
              margin: 10px;
              border: 1px solid #12c2e9;
              color: #12c2e9;
              cursor: pointer;
              transition: 0.5s;
    
              &:hover {
                transition: 0.5s;
                border: 1px solid #f64f59;
                color: #f64f59;
              }
            }
          }
        }
      }
    }
    .view {
      width: 100%;
      background-color: rgb(247, 247, 247);
      padding: 20px;
      min-height: 500px;
      border-radius: 15px;
      display: flex;
      flex-direction: column;

      .content p {
        text-align: justify;
      }
      // video {
      //   border-radius: 5px;
      //   margin: 0 auto;
      // }
      .preview {
        display: flex;

        video {
          border-radius: 5px;
        }

        ul {
          margin: 0;

          li {
            margin-bottom: 10px;
          }
        }
      }

      .projectLinks {
        button {
          padding: 10px;
          font-family: "Poppins", sans-serif;
          font-weight: 600;
          font-size: 14px;
          background: transparent;
          margin: 10px;
          border: 1px solid #12c2e9;
          color: #12c2e9;
          cursor: pointer;
          transition: 0.5s;

          &:hover {
            transition: 0.5s;
            border: 1px solid #f64f59;
            color: #f64f59;
          }
        }
      }
    }
  }
}
