.nav {
    width: 300px;
    display: flex;
    justify-content: space-between;
    padding: 0 15px;
    z-index: 1;
    position: fixed;
    top: 0;
    background-color: black;

    & a {
        color: white;
        text-decoration: none;
    }
    & a:hover {
        text-decoration: underline;
        transform: scale(1.05);
        transition: 0.2s;
        color: #ff447f;
        cursor: pointer;
    }
    .active {
        transform: scale(1.05);
        transition: 0.2s;
        color: #ff447f;
        cursor: pointer;
    }
    @media screen and (max-width: 640px) {
        display: none;
    }
}
