.navWrapper {
  width: 100%;
  height: 60px;
  padding: 0 15px;
  z-index: 10;
  position: fixed;
  top: 0;
  transition: "1s";
  backdrop-filter: blur(5px);

  .nav {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    .links {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: max-content;
      margin-right: 20px;

      & a {
        color: white;
        text-decoration: none;
        margin: 0 10px;
      }
      & a:hover {
        text-decoration: underline;
        transform: scale(1.05);
        transition: 0.2s;
        color: #ff447f;
        cursor: pointer;
      }
      .active {
        transform: scale(1.05);
        transition: 0.2s;
        color: #ff447f;
        cursor: pointer;
      }
      @media screen and (max-width: 640px) {
        display: none;
      }
    }
  }
}
